@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;600&display=swap');

:root {
    --biru: #07f8fc;
    --biru2: #82a0d8;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    /* color: blue; */
}

/* set */
h1.title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .5rem;
    padding: 50px;
}

h1.title::after {
    content: '';
    display: block;
    width: 100px;
    border: 2px solid var(--biru);
    margin: auto;
}


/* navbar */
.navbar {
    padding: 0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
}

.navbar-brand {
    font-size: 1.8rem;
}

.navbar-nav {
    font-size: 1.2rem;
}

.navbar-nav li {
    padding: 5px 10px;
}

.navbar-nav li:hover {
    background: var(--biru);
}


/* swiper */
.swiper {
    padding-top: 54px;
    width: 100%;
    height: 250px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--biru);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* harga */

.harga s {
    font-size: .8rem;
}